#header {
    font-size: 20px;
    box-shadow: 15px 15px 10px cyan;
    width: 100%;
}

#note {
    font-size: 15px;
    color: yellowgreen;
    width: 100%;
}

#footer{
    width: 100%;
    color: crimson;
    background-color: darkkhaki;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

#fontsize{
    color: indigo;
}